@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header, .management .management_content .container .container_content .data_report .data_report_content .data_carousel .data_carousel_content .carousel-shell-yz9, .management .management_content .container .container_content .data_report .data_report_content .data_carousel .data_carousel_content .carousel-shell-yz9 .carousel-stage-xa3, .management .management_content .container .container_content .data_report .data_report_content .data_carousel .data_carousel_content .carousel-shell-yz9 .carousel-stage-xa3 .carousel-slide-op8, .management .management_content .container .container_content .data_report .data_report_content .data_advantage .data_advantage_content ul li, .management .management_content .container .container_content .data_report .data_report_content .data_advantage .data_advantage_content ul li .data_equipment .data_equipment_content .data_equipment_img .data_equipment_img_content, .welcome_to_antplay .welcome_to_antplay_content, .welcome_to_antplay .welcome_to_antplay_content .customer_service_text_and_pictures .customer_service_text_and_pictures_content, .games .games_content .games_box .games_box_content a .games_box_area .games_box_area_content .games_box_area_text, .footer .footer_content .footer_text .footer_text_content ul li .contact_details .contact_details_content .contact_details_img .contact_details_img_content {
  display: flex;
  align-items: center;
  justify-content: center;
}

html {
  scroll-behavior: smooth;
}

.spacer {
  height: 0;
  transition: height 0.3s ease;
}

.spacer:active {
  height: 80px;
}

.header {
  position: relative;
  width: 100%;
  height: 70px;
  background-color: #01223F;
}

.header .header_content {
  width: 1200px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 auto;
}

.header .header_content .logo {
  width: 50%;
}

.header .header_content .menu_language {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .header_content .menu_language .menu_language_content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header .header_content .menu_language .menu_language_content .hamburger {
  font-size: 1.5em;
  cursor: pointer;
  display: none;
  user-select: none;
}

.header .header_content .menu_language .menu_language_content .menu {
  width: 70%;
}

.header .header_content .menu_language .menu_language_content .nav-menu {
  display: flex;
}

.header .header_content .menu_language .menu_language_content .nav-menu .menu_content {
  margin: 0 auto;
  width: 100%;
}

.header .header_content .menu_language .menu_language_content .nav-menu .menu_content ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header .header_content .menu_language .menu_language_content .nav-menu .menu_content ul li a {
  color: #fff;
  text-decoration: none;
  transition: all 0.8s ease;
}

.header .header_content .menu_language .menu_language_content .nav-menu .menu_content ul li a:hover {
  color: #0084FF;
}

.header .header_content .menu_language .menu_language_content .show {
  display: block;
}

.header .header_content .menu_language .menu_language_content .language {
  width: 20%;
  position: relative;
  display: flex;
  margin-left: 20px;
}

.header .header_content .menu_language .menu_language_content .language .language_content {
  margin: 0 auto;
}

.header .header_content .menu_language .menu_language_content .language .language_content .dropdown-toggle {
  font-size: 16px;
  cursor: pointer;
  width: 29px;
  height: 29px;
}

.header .header_content .menu_language .menu_language_content .language .dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: rgba(47, 117, 179, 0.8);
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 3;
}

.header .header_content .menu_language .menu_language_content .language .dropdown-content a {
  color: black;
  padding: 21px 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #fff;
}

.header .header_content .menu_language .menu_language_content .language .dropdown-content a:nth-child(4) {
  border-bottom: none;
}

.header .header_content .menu_language .menu_language_content .language .dropdown-content a:hover p {
  transform: scale(1.5);
}

.header .header_content .menu_language .menu_language_content .language .dropdown-content a p {
  color: #fff;
  margin-left: 22px;
  font-size: 12px;
  transition: font-size 4s ease-in-out;
}

.header .header_content .menu_language .menu_language_content .language .show {
  display: block;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: rgba(1, 34, 63, 0.7);
  backdrop-filter: blur(10px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 770px) {
  .header .header_content .menu_language .menu_language_content .hamburger {
    display: block;
    color: #fff;
  }
  .header .header_content .menu_language .menu_language_content .nav-menu {
    display: none;
    flex-direction: column;
    background-color: #444;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
  .header .header_content .menu_language .menu_language_content .nav-menu .menu_content {
    width: 100%;
  }
  .header .header_content .menu_language .menu_language_content .nav-menu .menu_content ul {
    width: 100%;
    line-height: 4;
  }
  .header .header_content .menu_language .menu_language_content .nav-menu .menu_content ul li {
    border-bottom: 2px solid #fff;
    width: 100%;
  }
  .header .header_content .menu_language .menu_language_content .nav-menu .menu_content ul li:nth-child(4) {
    border-bottom: none;
  }
  .header .header_content .menu_language .menu_language_content .nav-menu .menu_content ul li a {
    width: 100%;
    display: inline-block;
    margin: 0 20px;
  }
  .header .header_content .menu_language .menu_language_content .show {
    display: flex;
    z-index: 3;
    background: rgba(47, 117, 176, 0.8);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  }
}

.banner {
  position: relative;
  overflow: hidden;
}

.banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: url("../images/Banner_4.png") no-repeat;
  background-position: center;
  z-index: 2;
  animation: bounce 5s infinite;
}

.banner .banner_content {
  margin: 0 auto;
}

.banner .banner_content img {
  width: 100%;
}

/* 彈跳動畫 */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-50px);
  }
  60% {
    transform: translateY(-75px);
  }
}

@media screen and (max-width: 1300px) {
  .banner::before {
    width: 60%;
    height: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-size: cover;
  }
}

.management {
  position: relative;
  background: url("../images/full_background.svg") no-repeat center;
  background-size: cover;
}

.management .management_content {
  margin: 0 auto;
  padding: 30px 0 70px 0;
  width: 1200px;
}

.management .management_content .management_title {
  position: relative;
  padding: 70px 0;
}

.management .management_content .management_title .management_title_content {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  position: relative;
}

.management .management_content .management_title .management_title_content h1 {
  color: #01223F;
  font-size: 40px;
  display: inline-block;
  font-weight: 700;
  font-family: 'system-ui';
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

.management .management_content .management_title .management_title_content h1::before {
  content: '';
  position: absolute;
  top: -20px;
  width: 200px;
  display: inline-block;
  border-top: 4px solid #01223F;
}

.management .management_content .management_title .management_title_content h1::after {
  content: '';
  position: absolute;
  bottom: -20px;
  width: 110px;
  display: inline-block;
  border-top: 4px solid #01223F;
}

.management .management_content .container {
  position: relative;
}

.management .management_content .container .container_content {
  margin: 0 auto;
  max-width: 1200px;
}

.management .management_content .container .container_content .data_report {
  position: relative;
}

.management .management_content .container .container_content .data_report .data_report_content {
  margin: 0 auto;
}

.management .management_content .container .container_content .data_report .data_report_content .data_carousel {
  position: relative;
  width: 100%;
  height: 400px;
  padding: 50px 0;
}

.management .management_content .container .container_content .data_report .data_report_content .data_carousel .data_carousel_content {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.management .management_content .container .container_content .data_report .data_report_content .data_carousel .data_carousel_content .carousel-shell-yz9 {
  width: 100%;
  max-width: 400px;
  perspective: 1200px;
  position: relative;
}

.management .management_content .container .container_content .data_report .data_report_content .data_carousel .data_carousel_content .carousel-shell-yz9 .carousel-stage-xa3 {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s ease-in-out;
}

.management .management_content .container .container_content .data_report .data_report_content .data_carousel .data_carousel_content .carousel-shell-yz9 .carousel-stage-xa3 .carousel-slide-op8 {
  position: absolute;
  width: 60%;
  height: 400px;
  left: 20%;
  top: 10%;
  transition: transform 0.5s, opacity 0.5s;
  cursor: pointer;
}

.management .management_content .container .container_content .data_report .data_report_content .data_carousel .data_carousel_content .carousel-shell-yz9 .carousel-stage-xa3 .carousel-slide-op8 img {
  width: 80%;
  height: 400px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.management .management_content .container .container_content .data_report .data_report_content .data_advantage {
  position: relative;
  padding: 100px 0;
}

.management .management_content .container .container_content .data_report .data_report_content .data_advantage .data_advantage_content {
  margin: 0 auto;
}

.management .management_content .container .container_content .data_report .data_report_content .data_advantage .data_advantage_content ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.management .management_content .container .container_content .data_report .data_report_content .data_advantage .data_advantage_content ul li {
  width: 40%;
  height: 200px;
  background-color: #fff;
  border: 1px solid #dddddd;
  border-radius: 16px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transform: translateY(-100px);
  transition: all .4s ease-in-out;
  opacity: 0;
}

.management .management_content .container .container_content .data_report .data_report_content .data_advantage .data_advantage_content ul li .data_equipment {
  position: relative;
}

.management .management_content .container .container_content .data_report .data_report_content .data_advantage .data_advantage_content ul li .data_equipment .data_equipment_content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all .4s ease-in-out;
}

.management .management_content .container .container_content .data_report .data_report_content .data_advantage .data_advantage_content ul li .data_equipment .data_equipment_content .data_equipment_img {
  width: 30%;
  position: relative;
  padding-right: 20px;
  border-right: 1px solid #000000;
}

.management .management_content .container .container_content .data_report .data_report_content .data_advantage .data_advantage_content ul li .data_equipment .data_equipment_content .data_equipment_img .data_equipment_img_content {
  margin: 0 auto;
}

.management .management_content .container .container_content .data_report .data_report_content .data_advantage .data_advantage_content ul li .data_equipment .data_equipment_content .data_equipment_img .data_equipment_img_content svg {
  width: 80%;
}

.management .management_content .container .container_content .data_report .data_report_content .data_advantage .data_advantage_content ul li .data_equipment .data_equipment_content .data_equipment_text {
  width: 70%;
  position: relative;
  padding-left: 20px;
}

.management .management_content .container .container_content .data_report .data_report_content .data_advantage .data_advantage_content ul li .data_equipment .data_equipment_content .data_equipment_text .data_equipment_text_content h1 {
  font-size: 40px;
  font-weight: 900;
  color: #01223F;
}

.management .management_content .container .container_content .data_report .data_report_content .data_advantage .data_advantage_content ul li .data_equipment .data_equipment_content .data_equipment_text .data_equipment_text_content span {
  font-size: 16px;
  font-weight: 700;
}

.management .management_content .container .container_content .data_report .data_report_content .data_advantage .data_advantage_content ul li:hover .data_equipment .data_equipment_content {
  animation: equipment 1s ease-in-out;
}

.management .management_content .container .container_content .data_report .data_report_content .data_advantage .data_advantage_content ul .animate {
  opacity: 1;
  transform: translateY(0);
}

.management .management {
  overflow: hidden;
}

.management .management .management_content {
  width: 90%;
}

.management .management .management_content .container .container_content {
  width: 90%;
  margin: 0 auto;
}

.management .management .management_content .container .container_content .data_report .data_report_content .data_carousel {
  margin: 60px 0;
  height: 480px;
}

.management .management .management_content .container .container_content .data_report .data_report_content .data_carousel .data_carousel_content {
  margin: 70px 0;
}

.management .management .management_content .container .container_content .data_report .data_report_content .data_carousel .data_carousel_content .carousel-shell-yz9 {
  max-width: 300px;
}

.management .management .management_content .container .container_content .data_report .data_report_content .data_carousel .data_carousel_content .carousel-shell-yz9 .carousel-stage-xa3 .carousel-slide-op8 {
  width: 80%;
  left: 10%;
}

@keyframes equipment {
  0% {
    transform: translateX(400px);
  }
  100% {
    transform: translateX(0px);
  }
}

@media screen and (max-width: 1100px) {
  .management .management_content {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .management .management_content .container .container_content .data_report .data_report_content .data_advantage {
    padding: 40px 0;
  }
  .management .management_content .container .container_content .data_report .data_report_content .data_advantage .data_advantage_content ul li {
    height: 260px;
    width: 80%;
  }
  .management .management_content .container .container_content .data_report .data_report_content .data_advantage .data_advantage_content ul li .data_equipment .data_equipment_content {
    display: block;
  }
  .management .management_content .container .container_content .data_report .data_report_content .data_advantage .data_advantage_content ul li .data_equipment .data_equipment_content .data_equipment_img {
    width: 100%;
    padding-right: 0;
    border-right: 0;
    padding-bottom: 10px;
  }
  .management .management_content .container .container_content .data_report .data_report_content .data_advantage .data_advantage_content ul li .data_equipment .data_equipment_content .data_equipment_img .data_equipment_img_content svg {
    width: 40%;
  }
  .management .management_content .container .container_content .data_report .data_report_content .data_advantage .data_advantage_content ul li .data_equipment .data_equipment_content .data_equipment_text {
    width: 100%;
    padding-left: 0;
    padding-top: 10px;
  }
  .management .management_content .container .container_content .data_report .data_report_content .data_advantage .data_advantage_content ul li .data_equipment .data_equipment_content .data_equipment_text .data_equipment_text_content {
    text-align: center;
  }
  .management .management_content .container .container_content .data_report .data_report_content .data_advantage .data_advantage_content ul li .data_equipment .data_equipment_content .data_equipment_text .data_equipment_text_content h1 {
    margin-bottom: 10px;
  }
}

.welcome_to_antplay {
  position: relative;
  width: 100%;
  height: auto;
}

.welcome_to_antplay .welcome_to_antplay_content {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.welcome_to_antplay .welcome_to_antplay_content .customer_service_text_and_pictures .customer_service_text_and_pictures_content {
  margin: 0 auto;
  flex-wrap: wrap;
}

.welcome_to_antplay .welcome_to_antplay_content .customer_service_text_and_pictures .customer_service_text_and_pictures_content p {
  color: #fff;
  font-size: 16px;
  padding: 10px;
  transition: all .6s ease-in-out;
}

.welcome_to_antplay .welcome_to_antplay_content .customer_service_text_and_pictures .customer_service_text_and_pictures_content:hover p {
  font-size: 24px;
  line-height: 1.5;
}

.welcome_to_antplay .welcome_to_antplay_img {
  position: absolute;
  width: 100%;
  height: 600px;
  overflow: hidden;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome_to_antplay .welcome_to_antplay_img::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  z-index: 1;
}

.welcome_to_antplay .welcome_to_antplay_img .welcome_to_antplay_img_content {
  margin: 0 auto;
  transform: scale(1.5);
  background-color: #000;
}

.welcome_to_antplay .welcome_to_antplay_img .welcome_to_antplay_img_content .image_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: auto;
  margin: auto;
  gap: 10px;
  position: relative;
}

.welcome_to_antplay .welcome_to_antplay_img .welcome_to_antplay_img_content .image_container .image_container_box {
  width: 160px;
  height: 200px;
  aspect-ratio: 4 / 3;
  overflow: hidden;
  border-radius: 6px;
  position: relative;
}

.welcome_to_antplay .welcome_to_antplay_img .welcome_to_antplay_img_content .image_container .image_container_box img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
  transition: transform 0.2s ease;
}

.welcome_to_antplay .welcome_to_antplay_img .welcome_to_antplay_img_content .image_container .image_container_box img:hover img {
  transform: scale(1.05);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1197px) {
  .welcome_to_antplay .welcome_to_antplay_content .customer_service_text_and_pictures .customer_service_text_and_pictures_content {
    width: 80%;
    text-align: center;
  }
}

@media screen and (max-width: 719px) {
  .welcome_to_antplay .welcome_to_antplay_content .welcome_to_antplay_img .welcome_to_antplay_img_content {
    transform: scale(1.3);
  }
  .welcome_to_antplay .welcome_to_antplay_content .welcome_to_antplay_img .welcome_to_antplay_img_content .image_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.games {
  position: relative;
  background: url("../images/full_background.svg") no-repeat center;
  background-size: cover;
}

.games .games_content {
  margin: 0 auto;
  width: 1200px;
  display: block;
}

.games .games_content .games_title {
  position: relative;
  padding: 90px 0;
}

.games .games_content .games_title .games_title_content {
  text-align: center;
  margin: 0 auto;
}

.games .games_content .games_title .games_title_content h1 {
  color: #01223F;
  font-size: 40px;
  display: inline-block;
  font-weight: 700;
  font-family: 'system-ui';
  display: flex;
  justify-content: center;
}

.games .games_content .games_title .games_title_content h1::before {
  content: '';
  position: absolute;
  top: 70px;
  width: 200px;
  display: inline-block;
  border-top: 4px solid #01223F;
}

.games .games_content .games_title .games_title_content h1::after {
  content: '';
  position: absolute;
  bottom: 70px;
  width: 110px;
  display: inline-block;
  border-top: 4px solid #01223F;
}

.games .games_content .games_box {
  position: relative;
  transition: all 1s ease;
}

.games .games_content .games_box .games_box_content {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  padding-bottom: 100px;
}

.games .games_content .games_box .games_box_content a {
  width: 20%;
}

.games .games_content .games_box .games_box_content a .games_box_area {
  position: relative;
  transition: all 1s ease;
  transform-origin: center;
  margin: 6px;
  overflow: hidden;
  border-radius: 10px;
}

.games .games_content .games_box .games_box_content a .games_box_area::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #01223f;
  z-index: 1;
  opacity: 0;
  transition: all 1s ease;
  border-radius: 50%;
}

.games .games_content .games_box .games_box_content a .games_box_area img {
  width: 100%;
}

.games .games_content .games_box .games_box_content a .games_box_area .games_box_area_content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  transition: opacity 1s ease;
}

.games .games_content .games_box .games_box_content a .games_box_area .games_box_area_content .games_box_area_text {
  width: 100%;
}

.games .games_content .games_box .games_box_content a .games_box_area .games_box_area_content .games_box_area_text .games_box_area_text_content {
  text-align: center;
  line-height: 6;
  width: 90%;
}

.games .games_content .games_box .games_box_content a .games_box_area .games_box_area_content .games_box_area_text .games_box_area_text_content p {
  color: #fff;
  font-size: 25px;
  text-align: center;
  line-height: 1;
}

.games .games_content .games_box .games_box_content a .games_box_area .games_box_area_content .games_box_area_text .games_box_area_text_content p:nth-child(2) {
  color: #01223F;
  font-size: 22px;
  background-color: #fff;
  padding: 10px 60px;
  border-radius: 100px;
  transition: all 1s ease;
  margin-top: 40px;
}

.games .games_content .games_box .games_box_content a:hover .games_box_area::after {
  opacity: 1;
  transform: scale(1.6);
}

.games .games_content .games_box .games_box_content a:hover .games_box_area .games_box_area_content {
  opacity: 1;
}

.games .games_content .games_box .games_box_content a:hover .games_box_area .games_box_area_content .games_box_area_text .games_box_area_text_content p:nth-child(2) {
  color: #fff;
  border: 2px solid #fff;
  background: none;
}

.games .games_content .games_box .games_box_content a:nth-child(1) {
  transform: translateY(40px);
}

.games .games_content .games_box .games_box_content a:nth-child(2) {
  transform: translateY(-40px);
}

.games .games_content .games_box .games_box_content a:nth-child(3) {
  transform: translateY(40px);
}

.games .games_content .games_box .games_box_content a:nth-child(4) {
  transform: translateY(-40px);
}

.games .games_content .games_box .games_box_content a:nth-child(5) {
  transform: translateY(40px);
}

.games .games_content .games_box .games_box_content a:nth-child(6) {
  transform: translateY(40px);
}

.games .games_content .games_box .games_box_content a:nth-child(7) {
  transform: translateY(-40px);
}

.games .games_content .games_box .games_box_content a:nth-child(8) {
  transform: translateY(40px);
}

.games .games_content .games_box .games_box_content a:nth-child(9) {
  transform: translateY(-40px);
}

.games .games_content .games_box .games_box_content a:nth-child(10) {
  transform: translateY(40px);
}

.games .games_content .games_box .games_box_content a:nth-child(11) {
  transform: translateY(40px);
}

.games .games_content .games_box .games_box_content a:nth-child(12) {
  transform: translateY(-40px);
}

.games .games_content .games_box .games_box_content a:nth-child(13) {
  transform: translateY(40px);
}

.games .games_content .games_box .games_box_content a:nth-child(14) {
  transform: translateY(-40px);
}

.games .games_content .games_box .games_box_content a:nth-child(15) {
  transform: translateY(40px);
}

.games .games_content .games_box .games_box_content a:nth-child(16) {
  transform: translateY(40px);
}

.games .games_content .games_box .games_box_content a:nth-child(17) {
  transform: translateY(-40px);
}

.games .games_content .games_box .games_box_content a:nth-child(18) {
  transform: translateY(40px);
}

.games .games_content .games_box .games_box_content a:nth-child(19) {
  transform: translateY(-40px);
}

.games .games_content .games_box .games_box_content a:nth-child(20) {
  transform: translateY(40px);
}

.games .games_content .games_box .games_box_content a:nth-child(21) {
  transform: translateY(40px);
}

.games .games_content .games_box .games_box_content a:nth-child(22) {
  transform: translateY(-40px);
}

.games .games_content .games_box .games_box_content a:nth-child(23) {
  transform: translateY(40px);
}

.games .games_content .games_box .games_box_content a:nth-child(24) {
  transform: translateY(-40px);
}

.games .games_content .games_box .games_box_content a:nth-child(25) {
  transform: translateY(40px);
}

.games .games_content .games_box .games_box_content a:nth-child(26) {
  transform: translateY(40px);
}

.games .games_content .games_box .games_box_content a:nth-child(27) {
  transform: translateY(-40px);
}

.games .games_content .games_box .games_box_content a:nth-child(28) {
  transform: translateY(40px);
}

.games .games_content .games_box .games_box_content a:nth-child(29) {
  transform: translateY(-40px);
}

.games .games_content .games_box .games_box_content a:nth-child(30) {
  transform: translateY(40px);
}

.games .games_content .games_box .games_box_content a:nth-child(31) {
  transform: translateY(40px);
}

@media screen and (max-width: 1055px) {
  .games .games_content {
    width: 100%;
  }
}

@media screen and (max-width: 524px) {
  .games .games_content {
    width: 100%;
  }
  .games .games_content .games_box .games_box_content a {
    width: 50%;
  }
  .games .games_content .games_box .games_box_content a:nth-child(1) {
    transform: translateY(0px);
  }
  .games .games_content .games_box .games_box_content a:nth-child(2) {
    transform: translateY(0px);
  }
  .games .games_content .games_box .games_box_content a:nth-child(3) {
    transform: translateY(0px);
  }
  .games .games_content .games_box .games_box_content a:nth-child(4) {
    transform: translateY(0px);
  }
  .games .games_content .games_box .games_box_content a:nth-child(5) {
    transform: translateY(0px);
  }
  .games .games_content .games_box .games_box_content a:nth-child(6) {
    transform: translateY(0px);
  }
  .games .games_content .games_box .games_box_content a:nth-child(7) {
    transform: translateY(0px);
  }
  .games .games_content .games_box .games_box_content a:nth-child(8) {
    transform: translateY(0px);
  }
  .games .games_content .games_box .games_box_content a:nth-child(9) {
    transform: translateY(0px);
  }
  .games .games_content .games_box .games_box_content a:nth-child(10) {
    transform: translateY(0px);
  }
  .games .games_content .games_box .games_box_content a:nth-child(11) {
    transform: translateY(0px);
  }
  .games .games_content .games_box .games_box_content a:nth-child(12) {
    transform: translateY(0px);
  }
  .games .games_content .games_box .games_box_content a:nth-child(13) {
    transform: translateY(0px);
  }
  .games .games_content .games_box .games_box_content a:nth-child(14) {
    transform: translateY(0px);
  }
  .games .games_content .games_box .games_box_content a:nth-child(15) {
    transform: translateY(0px);
  }
  .games .games_content .games_box .games_box_content a:nth-child(16) {
    transform: translateY(0px);
  }
  .games .games_content .games_box .games_box_content a:nth-child(17) {
    transform: translateY(0px);
  }
  .games .games_content .games_box .games_box_content a:nth-child(18) {
    transform: translateY(0px);
  }
  .games .games_content .games_box .games_box_content a:nth-child(19) {
    transform: translateY(0px);
  }
  .games .games_content .games_box .games_box_content a:nth-child(20) {
    transform: translateY(0px);
  }
  .games .games_content .games_box .games_box_content a:nth-child(21) {
    transform: translateY(0px);
  }
  .games .games_content .games_box .games_box_content a:nth-child(22) {
    transform: translateY(0px);
  }
  .games .games_content .games_box .games_box_content a:nth-child(23) {
    transform: translateY(0px);
  }
  .games .games_content .games_box .games_box_content a:nth-child(24) {
    transform: translateY(0px);
  }
  .games .games_content .games_box .games_box_content a:nth-child(25) {
    transform: translateY(0px);
  }
  .games .games_content .games_box .games_box_content a:nth-child(26) {
    transform: translateY(0px);
  }
  .games .games_content .games_box .games_box_content a:nth-child(27) {
    transform: translateY(0px);
  }
  .games .games_content .games_box .games_box_content a:nth-child(28) {
    transform: translateY(0px);
  }
  .games .games_content .games_box .games_box_content a:nth-child(29) {
    transform: translateY(0px);
  }
  .games .games_content .games_box .games_box_content a:nth-child(30) {
    transform: translateY(0px);
  }
  .games .games_content .games_box .games_box_content a:nth-child(31) {
    transform: translateY(0px);
  }
}

.footer {
  background-color: #01223F;
}

.footer .footer_content {
  margin: 0 auto;
  width: 1200px;
}

.footer .footer_content .footer_logo_content_text {
  position: relative;
  margin-top: 60px;
}

.footer .footer_content .footer_logo_content_text .footer_logo_content_text_content {
  margin: 0 auto;
  text-align: center;
}

.footer .footer_content .footer_logo_content_text .footer_logo_content_text_content p {
  font-size: 16px;
  color: #fff;
}

.footer .footer_content .footer_text {
  position: relative;
  padding-top: 30px;
}

.footer .footer_content .footer_text .footer_text_content {
  margin: 0 auto;
}

.footer .footer_content .footer_text .footer_text_content ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.footer .footer_content .footer_text .footer_text_content ul li {
  width: 50%;
  margin: 20px 0;
}

.footer .footer_content .footer_text .footer_text_content ul li a {
  text-decoration: none;
}

.footer .footer_content .footer_text .footer_text_content ul li .contact_details {
  position: relative;
}

.footer .footer_content .footer_text .footer_text_content ul li .contact_details .contact_details_content {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.footer .footer_content .footer_text .footer_text_content ul li .contact_details .contact_details_content .contact_details_img {
  position: relative;
  width: 20%;
}

.footer .footer_content .footer_text .footer_text_content ul li .contact_details .contact_details_content .contact_details_img .contact_details_img_content {
  margin: 0 auto;
}

.footer .footer_content .footer_text .footer_text_content ul li .contact_details .contact_details_content .contact_details_text {
  position: relative;
  width: 80%;
}

.footer .footer_content .footer_text .footer_text_content ul li .contact_details .contact_details_content .contact_details_text .contact_details_text_content {
  margin: 0 auto;
  text-align: left;
}

.footer .footer_content .footer_text .footer_text_content ul li .contact_details .contact_details_content .contact_details_text .contact_details_text_content span {
  color: #0084FF;
}

.footer .footer_content .footer_text .footer_text_content ul li .contact_details .contact_details_content .contact_details_text .contact_details_text_content p {
  font-size: 14px;
  color: #fff;
  margin-top: 10px;
  line-height: 1.5;
}

.footer .footer_content .copyright {
  position: relative;
  padding: 10px 0;
}

.footer .footer_content .copyright .copyright_content {
  margin: 0 auto;
  text-align: center;
}

.footer .footer_content .copyright .copyright_content p {
  width: 80%;
  margin: 0 auto;
  line-height: 1.5;
  color: #fff;
  font-size: 12px;
  padding: 10px 0;
}

@media screen and (max-width: 1192px) {
  .footer .footer_content {
    width: 100%;
  }
  .footer .footer_content .footer_logo_content_text {
    width: 90%;
  }
  .footer .footer_content .footer_text .footer_text_content ul li {
    width: 100%;
  }
}

.float {
  position: fixed;
  right: 0;
  bottom: 4%;
  z-index: 6;
}

.float .float_content {
  margin: 0 auto;
  background-color: rgba(0, 34, 63, 0.7);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  width: 85px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.float .float_content ul {
  padding: 0.5px;
}

.float .float_content ul li {
  margin: 20px 0;
}

.float .float_content ul li a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.float .float_content ul li a p {
  font-size: 11px;
  color: #fff;
  margin-top: 20px;
  text-align: center;
  line-height: 1.8;
}

.float .float_content ul span {
  border-bottom: 2px solid #fff;
  width: 60%;
  display: block;
  margin: 0 auto;
}

.float_rwd {
  position: relative;
  display: none;
}

.float_rwd .float_rwd_content {
  margin: 0 auto;
}

.float_rwd .float_rwd_content ul li {
  width: 60px;
  height: 60px;
  margin: 20px 0;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.float_rwd .float_rwd_content ul li a {
  text-decoration: none;
  padding: 10px;
}

.float_rwd .float_rwd_content ul li a img {
  width: 30px;
}

@media screen and (max-width: 500px) {
  .float {
    display: none;
  }
  .float_rwd {
    position: fixed;
    right: 10px;
    bottom: 100px;
    display: block;
    z-index: 6;
  }
}
